<h1 style="font-size: 20px;">Edit Username</h1>
<hr>

<?php
echo $this->Form->create('User');
echo $this->Form->input('username', array('label' => 'New Username'));
echo $this->Form->end('Save Username');
?>